.boton_contacto, .boton_nosotros {
    width: 130px;
    border-radius: 15px;
    color: white;
    border: none;
    cursor: none;
    transition: all 0.2s ease-in 0s;
    outline: none;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(198deg, #F1CF2C, #F1CF2C);
}

.boton_cotizar {
    width: 130px;
    border-radius: 25px;
    color: white;
    border: none;
    cursor: none;
    transition: all 0.2s ease-in 0s;
    outline: none;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background: white;
}

.section_cotizar {
    background: #F13300;
}

/*---------BANNER ---------*/

.text_banner {
    z-index: -10;
    position: absolute;
    top: -60px;
}

.style_text_banner {
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}

.banner_imagen {
    height: 280px;
}

@media screen and (min-width: 480px) {
    .text_banner {
        z-index: -10;
        position: absolute;
        top: -350px;
    }
    .style_text_banner {
        font-size: 50px;
        font-family: 'Fredoka One', cursive;
    }
    .banner_imagen {
        height: 100%;
    }
}

/*----------------------SWIPERJS--------------------------*/


html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*----------------------WP_BUTTON--------------------------*/
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#27ae60;
    color:#FFF;
    border-radius:80px;
    text-align:center;
    font-size:30px;
    z-index:100;
}
 
.my-float{
    margin-top:16px;
}
